 @charset "utf-8";

/* base */

body,ol,ul,h1,h2,h3,h4,h5,h6,p,div,th,td,dl,dd,form,fieldset,legend,input,textarea,select{ margin:0px; padding:0px; box-sizing: content-box;}
body{font:15px/22px Microsoft YaHei,helvetica,arial;-webkit-text-size-adjust:100%; background:#f5f6fa; color:#303030;max-width:720px;margin: 0 auto;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
  margin:0px; padding:0px; box-sizing: content-box;
}
h1,h2,h3,h4,h5,h6,i,samp,strong,span,a,li{;font-size:inherit; font-weight:normal;}
address,cite,code,em,th,i{font-weight:normal; font-style:normal;} 
a{color:#303030;text-decoration:none;}
a:hover{text-decoration:none;}
li{list-style:none}
img{border:0;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word;}
textarea{resize:none;}
fieldset {border: none;}
label,a,button,input,textarea,select{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font:15px/22px Microsoft YaHei,helvetica,arial;
	border:none;
	outline:none;
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
}
select{background-color:#fff}
.city-list li,.order-address-info li{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
/*ico图标*/
i{
	display: inline-block;
	background: url(/public/images/h5/user/ico.png?2) no-repeat left top;
	background-size: 50px 400px;
}
.ico-next{
	position:absolute;
	top:50%;
	right:15px;
	width:8px;
	height:14px;
	margin-top:-6px;
	}
.ico-yes-off{
	width:25px;
	height:25px;
	vertical-align:middle;
	background-position:0 -40px;	
	margin-right:15px;
	}
.ico-yes-on{
	background-position:0 -15px;
	}
.ico-send,.ico-income{
	position:absolute;
	left:0;
	width:25px;
	height:32px;
	background-position:0 -67px;
	z-index:20;
	}
.ico-send{
	top:0;
	}	
.ico-income{
	bottom:0;
	background-position:0 -101px;
	}
.ico-cut,.ico-add{
	position:absolute;
	top:50%;
	width:24px;
	height:24px;
	margin-top:-12px;
	background-position:0 -137px;
	}
.ico-cut{
	left:15px;
	}
.ico-cut-h{
	background-position:-26px -137px;
	}		
.ico-add{
	right:15px;	
	background-position:0 -160px;
	}	
.ico-add-h{
	background-position:-26px -160px;
	}	
.ico-tel{
	width:21px;
	height:21px;
	vertical-align:middle;
	background-position:0 -186px;
	}								
/**/
.container{
	padding-bottom:70px;
	}
.content{
	background:#FFF;
	border-top: 1px solid #d7d8dc;
	border-bottom: 1px solid #d7d8dc;
	overflow:hidden;
	}
.content-m-t{
	margin-top:15px;
	}
.content-m-t10{
	margin-top:10px;
	}	
.content-b{
	border:0;
	}
.fl{
	float:left;
	white-space:nowrap;
	}
.fr{
	float:right;
	}
.btn-wrap{
	background:#FFF;;
	}					
/**/
.fixed{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:300;
	}																																																					
/*按钮*/			
.btn{
	display:inline-block;
	width:100%;
	height: 55px;
	line-height: 55px;	
	color: #FFF;
	font-size:20px;
	background: #1a9af3;
	transition: all .2s;
	text-align:center;
	padding:0;
	border: none;
	-webkit-appearance: none;
    -webkit-box-sizing: content-box;
	}
.btn:disabled{
	opacity:.35;
	}	
.btn-green{
	background:#afd451;
	}			
a.btn:visited,a.btn:active,a.btn:link{
	color:#fff;
	}
/**/
.input,.textarea{
	width:99%;
	padding: 8px 0;
	line-height:16px;
	}
.input{
 text-overflow: ellipsis;
 }
.textarea{
	height:80px;
	overflow:auto;
	}
.select{
	width:100%;
	}			
/*pop*/	
.transparent{
 display:none;
 position:fixed;
 top:0;
 left:0;
 right:0;
 bottom:0;
 background:rgba(0,0,0,.6);
 z-index:301;
 }
.pop{
 position:absolute;
 top:50%;
 -webkit-transform:translateY(-50%);
 transform:translateY(-50%);
 left:6%;
  width:88%;
  background:#FFF;
  border-radius:6px;
  text-align:center;
  overflow:hidden;
  z-index:301;
 }
.pop-info{
 padding:35px 20px;
 font-size:18px;
 }
.pop-btn{
 overflow:hidden;
 background: #1a9af3;
 } 
.pop-btn a{
 float:left;
 width:50%;
 line-height:50px;
 font-size:20px;
 color:#1a9af3;
 background:#fff;
 border-top:1px solid #d9d9d9;
 }
.pop-btn a:last-child{
 border-top:1px solid #1a9af3;
 background:#1a9af3;
 color:#FFF;
 }				
/*load*/	
.load{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	background:url(/public/images/h5/user/load.gif) no-repeat center top;
	background-size:100%;
	width:127px;
	height:115px;
	margin:-63px 0 0 -57px;
	}
/*首页*/
.banner img{
	width:100%;
	}
.banner h2{
	text-align:center;
	}	
.banner h2 b{
	font-size:20px;
	color:#1a9af3;
	padding:0 5px;
	}	
/*地址*/	
.address-list{
	margin-left:15px;
	}
.address-list li{
	position:relative;
	padding:12px 0;
	border-bottom: 1px solid #d7d8dc;
	}	
.address-list li:last-child,.order-address-info li:last-child{
	border-bottom:0;
	}
/**/
.city-list{
	}
.city-list li{
	padding:15px;
	border-bottom:1px solid #e0e0e0;
	}	
/**/
.order-address{
	position:relative;
	}
.order-address-info {
	margin-left:50px;
	}	
.order-address-info li{
	position:relative;
	padding:10px 0;
	width:100%;
	border-bottom:1px solid #e0e0e0;	
	}	
.order-address-info li p{
	padding-right:40px;
	height:44px;
	color:#303030;
	overflow:hidden;
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	display:-webkit-box;
	-webkit-box-pack:center;
	}
.order-address-readonly li p{
	padding-right:15px;
	}		
.order-address-ico{
	position:absolute;
	top:18px;
	left:15px;
	bottom:15px;
	}
.order-address-ico em{
	position: absolute;
    top: 4px;
    left: 0;
    bottom: 4px;
    width: 12px;
    border-right: 1px solid #d7d8dc;
	}		
.weight{
	position:relative;
	padding:12px 0;
	}
.weight input{
	text-align:center;
	}	
.pickup-value{
	padding-right:20px;
	position: absolute;
	top: 0px;
	left: 90px;
	right: 15px;
	bottom: 0px;
	padding-right: 20px;
	text-align: right;
	}
.pickup-value .select{
	text-align: right;
	padding-right: 5px;
	direction:rtl;
	line-height: 56px;
}	
.freight span{
	float:left;
	width:55%;
	line-height:50px;
	text-indent:15px;
	}
.freight b,.freight em{
	color:#1a9af3;
	}
.freight b{
	font-size:25px;
	padding-right:5px;
	}		
.freight .btn{
	float:right;
	width:44%;
	}	
.order-top{
	width:99%;
	margin:0 auto;
	padding:15px 0;
	overflow:hidden;
	}
.order-top li{
	float:left;
	width:32%;
	text-align:center;
	border-right:1px solid #e0e0e0;
	}	
.order-top li:last-child{
	border-right:0;
	}	
.order-top li p,.need-freight{
	color:#1a9af3;
	}
.order-top li p b,.need-freight b{
	font-size:20px;
	}
.row{
	position:relative;
	padding:12px 15px;
	overflow:hidden;
	}
.row-b-t{
	border-top:1px solid #e0e0e0;
	margin-left:15px;
	}	
.row-b-b{
	border-bottom:1px solid #e0e0e0;
	}
.row-p{
	padding:18px 15px;
	}	
.goods,.sender{
	padding:7px 15px;
	}		
.sender input{
	width:34%;
	}
.sender input:last-child{
	border-left:1px solid #e0e0e0;
	text-indent:15px;
	width:64%;
	border-radius:0;
	}
.sender-b-b,.goods-b-b{
	border-bottom:0;
	}
.goods label{
	float:left;
	padding: 8px 0;
    line-height: 16px;
	}
.goods p{
 margin-left:90px;
 } 
.goods input{
 width:99%;
 text-align: right;
 }	
.order-list{
	margin-top:15px;
	}	
.order-list ol{
	background:#FFF;
	margin-bottom:10px;
	padding-right:15px;
	border-left:3px solid #ff374d;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	}

.order-list ol.bordercorol1{
	border-left-color:#52c4fa;
	}
.order-list ol.bordercorol2{
	border-left-color:#1a9af3;
	}
.order-list ol.bordercorol3{
	border-left-color:#f3951a;
	}
.order-list ol.bordercorol4{
	border-left-color:#b0d35b;
	}	
					
.order-state,.order-tel{
	line-height:40px;
	overflow:hidden;
	margin:0 0 0 15px;
	border-bottom:1px solid #e0e0e0;
	}
.order-state span{
	font-size:12px;
	}		
.order-tel{
	border-bottom:0;
	border-top:1px solid #e0e0e0;
	line-height:55px;
	}
.order-tel a{
	font-size:20px;
	color:#1a9af3;
	}		
.order-address-distance li p{
	padding-right:60px;
	}	
.order-address-distance em{
	position:absolute;
	top:50%;
	right:0;
	height:44px;
	margin-top:-22px;
	font-size:12px;
	text-align:right;
	}
.order-list ol.bordercorol1 .order-address-distance b{
	color:#f3951a;
	font-weight:400;		
	}	
.order-show{
	padding:0 15px 0 0;
	}
.order-show .sender{
	padding:6px 0;
	}
.order-show .row{
	padding-left:0;
	padding-right:0;
	}		
.fontcolor{
	color:#85888d;
	}	
/*微信支付*/ 
.wx_pay_top{
 background:#4cb131;
 text-align:center;
 color:#fff;
 padding:35px 0 26px 0;
 font-size:19px;
}
.wx_pay_top img{
 width:100%;
 }
.wx_pay_cont{
 text-align:center;
 padding:0 10px;
 }
.wx_pay_cont h2{
 display:block;
 line-height:64px;
 } 
.btn_green {
    background: #4cb131;
}
.null {
      color:#d5d5d9;
      text-align:center;
      }
           .null img{
      width:100%;
     }
.load{
	display:none;
	position:fixed;
	top:50%;
	left:50%;	
	background:url(/public/images/h5/user/load.gif) no-repeat center top;
	background-size:100%;
	width:127px;
	height:115px;
	margin: -58px 0 0 -63.5px;
	}     
/*新加订单号*/
.order-number{
  margin:15px 0 15px 15px;
  border:2px solid #d0cfd5;
  position:relative;
  border-radius:6px;
  }
 .order-number p{
  font-size:20px;
  line-height:48px;
  padding:0 15px;
  }
 .order-number em{
  position:absolute;
  top:-8px;
  left:10px;
  font-size:12px;
  color:#85888d;
  background:#FFF;
  line-height:12px;
  padding:0 5px;
  }	
 .order-state{
  border-top: 1px solid #e0e0e0;  
  }	 
  .order-show .order-state{
  border-top: 0;
  } 
 .order-number-wrap{
  border-top:0;
  padding:0 15px 0 0;
  }	  	
  /*提示*/
.pup{
	position:fixed;
	bottom:-50px;
	left:5%;
	width:90%;
	background:rgba(0,0,0,.6);
	border-radius:6px;
	color:#FFF;
	opacity:0;
	transition: all .4s;
	}
.pup_info{
	padding:10px 15px;
	text-align:center;
	}
.pup_show{
	opacity:1;
	bottom:70px;
	}	
/**/