<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:beans="http://www.springframework.org/schema/beans"
			 xmlns:context="http://www.springframework.org/schema/context"
			 xmlns:p="http://www.springframework.org/schema/p"
			 xmlns:task="http://www.springframework.org/schema/task"
			 xsi:schemaLocation="
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	<beans:bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<beans:property name="locations">
			<beans:list>
				<beans:value>classpath:config.properties</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>
	<beans:bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<beans:property name="properties" ref="configProperties" />
	</beans:bean>

	<context:component-scan base-package="com.bbd.*" />

	<beans:import resource="META-INF/spring/bbd-saas-provider.xml" />

	<task:annotation-driven />

</beans:beans>
