@charset "utf-8";
body {
  font-family: simhei;
}
* {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin-bottom: 0;
}
ul li {
  list-style: none;
}
i,
em {
  font-style: normal;
}
label {
  font-weight: normal;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
input {
  outline: none;
}
.bod0 {
  border: none !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left !important;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f24{
	font-size:24px;
}
.orange {
  color: #fc9e28;
}
button.orange {
  background:none;
  border:none;
  text-decoration:underline;
}
.c-green {
  color: #99cb2f;
}
.c-white {
  color: #fff;
}
.c-gray {
  color: #e0e0e8;
}
.c-red {
  color: #de3321;
}
.default {
  color: #66666d;
}
a.orange {
  color: #fc9e28;
  text-decoration: underline;
}
.pad20 {
  padding: 20px;
  padding-top: 0;
}
.pl15 {
  padding-left: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.ml6 {
  margin-left: 6px;
}
.ml16 {
  margin-left: 16px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mb12 {
  margin-bottom: 12px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb120 {
  margin-bottom: 120px;
}
.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.mlrf15 {
  margin: 0 -15px;
}
.per48 {
  width: 48%;
}
.pad0 {
  padding: 0 !important;
}
.form-inline-n .form-control {
  height: 40px;
  border: 1px solid #d9d8eb;
}
.sbtn {
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #000;
  border-radius: 4px;
  text-align: center;
}
.sbtn:link,
.sbtn:visited,
.sbtn:hover,
.sbtn:active {
  text-decoration: none;
  color: #000;
}
.sbtn.l {
  background: #ffc800;
  border: 1px solid #efb600;
}
.sbtn.d {
  background: #ffa800;
  border: 1px solid #e69c0f;
}
.sbtn.g {
  background: #c3c3cc;
  border: 1px solid #bbbbc4;
}
.sbtn2 {
  height: 36px;
  line-height: 34px;
}
.ser-btn {
  display: inline-block;
  width: auto;
  padding: 0 30px;
  height: 40px;
  line-height: 38px;
  color: #000;
  border-radius: 4px;
  border: 1px solid #efb600;
  text-align: center;
  cursor: pointer;
  font-size:18px;
}
.filter .btn-primary,.filter .btn-primary:active{
   background: #c3c3cc;
   border: 1px solid #bbbbc4;
   color: #000;
}
.filter .btn-primary i{
	display:none;
}
.ser-btn:link,
.ser-btn:visited,
.ser-btn:hover,
.ser-btn:active {
  text-decoration: none;
  color: #000;
}
.ser-btn.l {
  background: #ffc800;
  border: 1px solid #efb600;
}
.ser-btn.d {
  background: #ffa800;
  border: 1px solid #e69c0f;
}
.ser-btn.c {
  background: #dfdfe5;
  border: 1px solid #d7d7dd;
}
.ser-btn.g {
  background: #c3c3cc;
  border: 1px solid #bbbbc4;
}
.ser-btn.b {
  background: #66666d;
  border: 1px solid #66666d;
  color: #fff !important;
}
.sbtn:hover,
.ser-btn:hover {
  opacity: 0.9;
}
.cur a {
  color: #fc9e28 !important;
}
/*----S-table----*/
.table {
  border: 1px solid #d9d8eb;
  background: #ffffff;
}
.tab-bod {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d9d8eb;
  margin-right: -1px;
}
.tab-bod .table {
  border: none;
  border-bottom: 1px solid #ebeaf4;
}
.tab-bod .table-responsive {
  margin-right: 0px;
}
.table thead tr th:first-child {
  border-radius:1px 0 0 0;
}
.table thead tr th:last-child {
  border-radius: 0 1px 0 0;
}
.table thead tr th {
  background: #d9d9e4;
  color: #33333d;
  font-weight: normal;
  padding: 3px 0;
  text-align: center;
  font-size:14px;
  border:none;
}
.table tbody tr td {
  border-top: 1px solid #efefef;
  text-align: center;
  line-height: 18px;
  padding: 16px 0;
  vertical-align: middle;
  font-size:16px;
}
.table tr:nth-child(2n) td {
  background: #f8f8f8;
}
.table .l-count {
  color: #cf242a;
}
.table .c-line {
  display: inline-block;
  padding: 0 4px;
  margin-bottom: 2px;
  color: #cf242a;
}
.table .orderB-upDown {
  display: block;
  position: relative;
}
.table .orderB-upDown i {
  position: absolute;
  border-width: 5px;
  border-style: solid;
  margin-left: 6px;
  cursor: pointer;
}
.table .orderB-up {
  top: -2px;
  border-color: transparent transparent #ffffff transparent;
}
.table .orderB-down {
  top: 11px;
  border-color: #ffffff transparent transparent transparent;
}
.table .orderB-trans {
  opacity: 0.3;
}
.bg-white {
  background: #ffffff;
}
.order-model {
  padding: 15px 20px;
  background: #ffffff;
  border: 1px solid #cccccc;
}
.order-model .order-title {
  padding: 0 0 32px;
}
.table-title {
  height: 40px;
  line-height: 40px;
  background: #2d2d2d;
  padding: 0 20px;
  margin: 0;
}
.table-title a {
  color: #ffffff;
}
.od-tab {
  margin-bottom: 0;
}
.od-tab thead tr th {
  background: #cccccc;
  color: #333333;
  border: 1px solid #efefef;
  padding: 8px 0;
}
.od-tab tbody tr td {
  border: 1px solid #efefef;
  padding: 7px 0;
}
.fc {
  color: #999999;
  float: left;
  font-size: 12px;
  line-height: 36px;
}
.show-alst {
  padding: 0 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin: 0 8px;
}
.pages {
  float: left;
}
.pages a,
.pages i {
  display: block;
  width: 36px;
  height: 36px;
  float: left;
  line-height: 35px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-right: 6px;
  color: #999999;
  cursor: pointer;
}
.pages i {
  margin-top: -1px;
  line-height: 36px;
}
.pages em {
  margin-right: 6px;
}
.pages li {
  float: left;
  cursor: pointer;
  margin-left: 10px;
}
.pages a:hover,
.pages .cur {
  color: #ffffff;
  background: #999999;
  border: 1px solid #999999;
}
.pages .turn-page {
  width: 80px;
  height: 36px;
  line-height: 36px;
  padding: 0 6px;
  border: none;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin: 0 10px 0 12px;
  background: none;
}
.page-btn span {
  display: inline-block;
  padding: 0 34px;
  line-height: 36px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d7d6ea;
}
.c-disable {
  color: #b3b6c6;
}
.c-disable a{
  color: #b3b6c6 !important;
}
/*----E-table----*/
/* S 导航条 */
.b-navbar {
  min-height: 60px;
  border: none;
  margin-bottom: 0;
}
.b-navbar .navbar-brand {
  padding-top: 9px;
}
.b-navbar .navbar-nav > li > a {
  padding-top: 20px;
}
.b-navbar .navbar-nav > li > a:hover {
  color: #fc9e28;
}
/* E 导航条 */
/* S footer */
footer {
  padding: 30px 0;
}
.pos-footer {
  position: absolute;
  width: 100%;
  bottom: 30px;
  padding: 0;
  z-index: 6;
}
.b-copy {
  font-size: 12px;
  color: #999aaa;
}
/* E footer */
/* S banner */
.b-banner {
  background: url(../images/banner.png) no-repeat;
  min-height: 688px;
  background-size: cover;
}
.b-banner .login-area {
  padding: 67px 43px;
  border-radius: 10px;
  background: #59adce;
  margin-top: 94px;
}
.has-icon {
  height: 60px;
  line-height: 60px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
}
.has-icon .b-input {
  background: none;
  border: none;
  width: 80%;
  height:58px;
  color: #fff;
  font-size: 16px;
}
.has-sel-icon {
  height: 60px;
  line-height: 60px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d7d6ea;
}
.has-sel-icon .b-input {
  background: none;
  border: none;
  width: 80%;
  color: #fff;
}
.has-sel-icon select {
  width: 82%;
  height: 36px;
  border: none;
  outline: none;
}
.login-area {
  min-width: 370px;
}
.b-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #59adce inset;
  border: none !important;
  -webkit-text-fill-color: #c4deeb;
}
.b-input::-webkit-input-placeholder { /* WebKit browsers */
  color: #c4deeb;
}
.b-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #c4deeb;
}
.b-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #c4deeb;
}
.b-input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #c4deeb;
}
/* E banner */
/* S 关于我们*/
.b-item {
  text-align: center;
  margin-bottom: 10px;
}
.b-item-card {
  min-height: 420px;
  padding: 60px 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #e1e2e4;
  background: #f5f6f7;
}
.part-bg{
	background: #f5f6f7;
}
/* E 关于我们*/
/* S 合作伙伴 */
.b-tit {
  text-align: center;
  margin: 80px 0 0 0;
  position: relative;
}
.b-tit:before {
  display: block;
  content: '';
  height: 31px;
  border-bottom: 1px solid #e8e8e8;
}
.b-tit em {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 24px;
  line-height: 60px;
  padding: 0 54px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #e1e4ea;
}
.b-grid {
  width: 20%;
  float: left;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .b-grid {
    width: 50%;
  }
  .b-grid img {
    width: 80%;
  }
}
.b-brand li {
  margin-top: 68px;
}
/* E 合作伙伴 */
/* S 系统配送首页*/
.b-con {
  min-height: 836px;
  padding-top: 130px;
  background-image: -ms-linear-gradient(top, #46c6ee, #e8f4ff);
  background-image: -moz-linear-gradient(top, #46c6ee, #e8f4ff);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#46c6ee), to(#e8f4ff));
  background-image: -webkit-linear-gradient(top, #46c6ee, #e8f4ff);
  background-image: -o-linear-gradient(top, #46c6ee, #e8f4ff);
  background-image: linear-gradient(top, #46c6ee, #e8f4ff);
}
.b-con .cloud {
  display: block;
  position: absolute;
  left: 74px;
  top: 124px;
}
.b-con-bot {
  display: block;
  content: '';
  height: 20px;
  border-radius: 50%;
  background: #fff;
  margin-top: -10px;
  margin-bottom: -10px;
}
.b-status {
  text-align: center;
  margin-bottom: 30px;
}
.b-status-card {
  background: #fff;
  border-radius: 10px;
  padding: 32px 0;
  box-shadow: 0 5px 15px rgba(9, 163, 212, 0.23);
}
.b-status a:link,
.b-status a:visited,
.b-status a:hover,
.b-status a:active {
  text-decoration: none;
  color: #333;
}
/* E 系统配送首页*/
/* S 包裹到站 */
.i-hei {
  position: absolute;
  top: 60px;
  z-index: 3;
}
.b-branch,
.fbg {
  background: #f0f0f7;
  background-image: -ms-linear-gradient(left, #ececf4, #fff);
  background-image: -moz-linear-gradient(left, #ececf4, #fff);
  background-image: -webkit-gradient(linear, left top, right top, from(#ececf4), to(#fff));
  background-image: -webkit-linear-gradient(left, #ececf4, #fff);
  background-image: -o-linear-gradient(left, #ececf4, #fff);
  background-image: linear-gradient(left, #ececf4, #fff);
}
.dn {
  display: none;
}
.b-sidebar {
  padding-top: 40px;
  position: relative;
  z-index: 4;
}
.b-sidebar li a {
  display: inline-block;
  width: 100%;
  line-height: 60px;
  padding-left: 24px;
  color: #141e35;
  font-size: 18px;
}
.b-sidebar li a:hover,
.b-sidebar .side-cur a {
  background: #dbdbe3;
  border-radius: 10px 0 0 10px;
}
.b-sidebar .menu {
  margin-left: 22px;
}
.b-sidebar .menu li {
  margin-top: 10px;
}
.b-sidebar .menu li a {
  padding-left: 40px;
}
.b-sidebar .menu li a:hover,
.b-sidebar .menu .curr a {
  background: #d5d5dd;
  border-radius: 10px 0 0 10px;
}
.b-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  text-align: center;
  background: url(../images/b_icon.png) no-repeat;
  vertical-align: -5px;
  margin-right: 16px;
}
.p-package {
  background-position: 0 0;
}
.p-aign {
  background-position: 0 -32px;
}
.p-error {
  background-position: 0 -64px;
}
.p-query {
  background-position: 0 -96px;
}
.p-set {
  background-position: 0 -129px;
}
.p-dis{
  background-position:0 -160px;
}
.p-ser {
  vertical-align: middle;
  margin-right: 10px;
}
.b-detail {
  background: #fff;
  padding-top: 40px;
  min-height: 800px;
}
@media screen and (min-width: 768px) {
  .b-detail {
    margin: 0 -15px;
  }
}
.arrive-status {
  color: #fff;
  font-size: 18px;
  padding: 20px 20px;
  margin-bottom: 0;
  font-weight:bold;
}
.arrive-status .b-order {
  font-size: 44px;
  float: left;
  margin: -10px 20px 0 0;
}
.arrive-status dd {
  text-align: left;
  margin-bottom: -4px;
  color: #ffd1ca;
}
.b-board-card {
  margin-bottom: 10px;
}
.c1 {
  background: #ff7e64;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #f4624a;
}
.c2 {
  background: #ef2551;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d1194a;
}
.c3 {
  background: #ff5f72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #f44563;
}
.search-area {
  padding: 20px;
  padding-bottom: 0;
  background: #f0f0f7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d9d8eb;
  font-size:16px;
}
.form-inline .form-con-new {
  min-width: 196px;
}
.form-bod {
  border: 1px solid #d7d6ea;
}
.b-line {
  height: 1px;
  line-height: 1px;
  font-size: 0px;
  overflow: hidden;
  background: #d9d8eb;
  margin: 19px 0;
}
/* E 包裹到站 */
/* S 系统设置 配送区域 */
.txt-info {
  float: left;
  padding: 0 15px;
  border-right: 1px solid #dbdaec;
}
.txt-info em,
.txt-info i {
  display: block;
}
.txt-info em {
  font-size: 14px;
  color: #85888d;
  padding-bottom: 6px;
}
.txt-info i {
  font-size: 22px;
  color: #33333d;
  line-height: 1.1;
}
.txt-info:last-child {
  border-right: none;
}
.tab-area .b-tab {
  margin-bottom: 0;
}
.tab-area .b-tab li {
  float: left;
  margin-right: 10px;
}
.tab-area .b-tab li a {
  display: inline-block;
  padding: 0 45px;
  line-height: 40px;
  color: #33333d;
  border: 1px solid #dbdaec;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background:#f0f0f7;
}
.tab-area .b-tab .tab-cur a {
  background: #ffc800;
  border: 1px solid #efb600;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}
.tab-area .b-tab-con {
  padding: 40px 15px;
  border: 1px solid #dbdaec;
}
.tab-area .b-map {
  position:relative;
  height:473px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #dbdaec;
}
.tab-area .b-map img {
  width: 100%;
}
.fileup_ui {
  position: relative;
  overflow: hidden;
}
.fileup_ui input {
  filter: alpha(opacity=0);
  position: absolute;
  background: #fff;
  font-size: 60px;
  cursor: inherit;
  height: auto;
  width: auto;
  right: -5px;
  left: auto;
  opacity: 0;
  top: -5px;
}
/* E 系统设置 配送区域 */
/* S pop */
.fbg .modal,
.fbg .modal-backdrop {
  left: 16%;
  width: 84%;
}
#mask {
  background: #555555;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
  z-index: 1000;
  display: none;
}
.b-modal-header {
  border-bottom: 1px solid #ebedf3;
  background:#f5f6f7;
  border-radius:10px 10px 0 0;
}
.b-modal-body {
  padding: 40px;
}
.b-modal-footer {
  padding: 0 40px 20px;
}
.cho-lg {
  text-align: center;
}
.cho-lg a:link,
.cho-lg a:visited,
.cho-lg a:hover,
.cho-lg a:active {
  text-decoration: none;
  color: #333;
}
.cho-lg-card {
  min-height: 220px;
  padding: 30px 50px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #e1e2e4;
}
.cho-lg-card h3 {
  margin: 16px 0 4px;
}
.cho-lg-card i {
  color: #33333d;
}
.b-n-crt li {
  margin-bottom: 10px;
}
.b-guide-tab {
  margin-top: 0;
}
.b-guide-tab li {
  float: left;
  line-height: 40px;
  padding: 0 28px;
  background: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #d6d6de;
  margin-left: 42px;
  margin-top: -20px;
  cursor: pointer;
}
.b-guide-tab .c-line {
  display: inline-block;
  color: #d5d5dd;
  padding: 0 6px 0 3px;
}
.b-guide-tab .guide-cur {
  background: #e4e4ec;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #c6c6d0;
}
.b-guide-tab:before {
  border-bottom: 1px solid #d5d5dd;
}
.b-tab-all {
  width: 770px;
  overflow: hidden;
}
.tab-area .b-guide-con {
  padding: 40px 0;
  border: none;
  width: 200000px;
}
.tab-area .b-guide-con .step {
  float: left;
  width: 800px;
}
.tab-area .b-guide-con .step3 {
  width: 770px;
}
.pre-step {
  display: none;
}
.wp66 {
  width: 66% !important;
}
.w150{
  width:150px !important;
  min-width:auto !important;
}
.wp80 {
  width: 80% !important;
}
.wp25 {
  width: 25% !important;
  display: inline-block;
}
.input-d {
  margin: 10px 0 0 20%;
}
.site-re {
  line-height: 40px;
}
.tip-info {
  display: inline-block;
  color: red;
  padding: 4px 0 0 14%;
}
.filter i {
  float: left;
  display: block;
  width: 20%;
  text-align: right;
  padding-top: 6px;
}

.y-scroll {
  max-height: 300px;
  overflow-y: auto;
}
@media (min-width: 768px) {
  .b-modal-dialog {
    width: 420px;
    margin: 100px auto 0;
  }
  .b-guide-dialog {
    width: 800px;
    margin: 100px auto 0;
  }
}
/* E pop */
/* S reset 布局*/
@media (min-width: 992px) {
  .bbd-md-3 {
    width: 16%;
  }
  .bbd-md-9 {
    width: 84%;
  }
} /* E reset 布局*/
/*# sourceMappingURL=main.css.map */
.form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    min-width: 212px;
    font-size:16px;
}
/* S 控件css reset */
.BMap_scaleCtrl{
    width:120px !important;
    height:43px !important;
    background:#fff;
    padding:10px;
    box-shadow: 4px 4px 10px #888888;
    left:15px !important;
    bottom:72px !important;
}
.BMap_scaleTxt{
    margin-left:-10px;
}
.BMap_scaleHBar{
    width:100px !important;  
    bottom:10px !important;   
}
.BMap_scaleLBar{
    left:10px !important;
    bottom:10px !important; 
}
.BMap_scaleRBar{
    right:10px !important;
    bottom:10px !important; 
}
.BMap_stdMpType3{
    width:31px !important;
    height:82px !important;
    bottom:64px !important;
    right:15px !important;
}
.BMap_stdMpZoom{
    width:45px !important;
    height:88px !important;
    
}
.BMap_stdMpZoom .BMap_button{
    background:none !important;
    width:31px !important;
    height:31px !important;
    left:0 !important;
    box-shadow: 4px 4px 10px #888888;       
}
.BMap_stdMpZoom .BMap_stdMpZoomIn{
    background:url(../images/b_plus.png) no-repeat  !important;
}
.BMap_stdMpZoom .BMap_stdMpZoomOut{
    background:url(../images/b_minus.png) no-repeat  !important;
    top:43px!important;
}
.BMap_stdMpType1{
    bottom:32px !important;
    height:126px !important;
}
.BMap_stdMpPan .BMap_button{
    width:4px !important;
    height:4px !important;
}
.BMap_panN{
    top:7px !important;
}
.BMap_panW{
    left:7px !important;
    top:13px !important;
}
.BMap_panE{
    left:inherit !important;
    right:7px !important;
    top:13px !important;
}
.BMap_panS{
    top:inherit !important;
    bottom:7px !important;
}
.b-f-screen{
    position:absolute;
    top:15px;
    right:15px;
    width:31px;
    height:31px;
    box-shadow: 4px 4px 10px #888888;
    cursor:pointer;
}
.b-forward-full{
    background:url(../images/full_screen.png) no-repeat;
}
.b-back-full{
    background:url(../images/back_full.png) no-repeat;
}
.pos-adr{
    position:absolute;
    bottom:162px;
    right:15px;
    width:31px;
    height:31px;
    background:url(../images/b_shift.png) no-repeat;
    box-shadow: 4px 4px 10px #888888;
    cursor:pointer;
}
.full-map{
    position:absolute;
    top:0;
    width:99.96%;
    
}
 /* E 控件css reset */
 
 /* S 图标 */
 .p-icon{
    display:inline-block;
    width:16px;
    height:16px;
    background:url(../images/p_icon.png) no-repeat;
    margin:0 0 -2px 0;
}
.p-person{
    background-position:0 0;
    margin-left: 15px;
}
.p-lock{
    background-position:0 -25px;
    margin-left: 15px;
}
.p-user{
    background-position:0 -51px;
}
.num-add{
  font-weight:bold;
  font-size:16px;
}
 /* E 图标 */
/* S 修改 */
.ml12 {
  margin-left: 12px !important;
}
.j-scroll-dislog{
  margin:100px auto 0;
}
.bod-rad {
  border-radius: 4px;
}
.draw-btn {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.draw-btn .bg-alpha {
  background: #000;
  opacity: 0.3;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.draw-btn a {
  position: relative;
  z-index: 3;
  bottom: 12px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background:#ffc800;
  border: 1px solid #efb600;
  color:#000;
}
.pagination li{

}
.pagination a{
  border-radius:4px;
  margin-left:10px !important;
}
.pagination>li>a, .pagination>li>span{
  color:#333;
}
.form-inline-n .form-control:focus {
  box-shadow: none;
  border: 1px solid #ffa000;
}
.f-dialog{
  position:fixed;
  top:100px;
  left:50%;
  margin-left:-210px;
}
/* E 修改 */
